
<% @lists.each do |list| %>
  <p><%= list.name %></p>
  <p><%= link_to 'Show', list_path(list), class: "btn btn-primary" %></p>
<% end %>
<p><%= link_to 'Create a new list', new_list_path, class: "btn btn-primary" %></p>
